<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.service.shareding.dao.UserMapper">
  <resultMap id="BaseResultMap" type="com.thz.provide.dto.User">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="age" jdbcType="BIGINT" property="age" />

    <collection property="address" ofType="com.thz.provide.dto.Address">
      <id column="id" jdbcType="BIGINT" property="id" />
      <result column="user_id" jdbcType="BIGINT" property="userId" />
      <result column="address" jdbcType="VARCHAR" property="address" />
    </collection>
  </resultMap>


  <select id="getUserInfo" resultType="com.thz.provide.dto.User" resultMap="BaseResultMap">
    select * from t_user u  where u.id = #{id,jdbcType=BIGINT}
  </select>
</mapper>